body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.insert {
	display: block;
}

.alter::after {
	color: red;
	content: "example";
}

.delete {
	display: block;
}
